<div id="people" data-link-name="people header" class="section header people" data-id="people">
  <!-- <div class="section-header--image">
    <img class="{{imageclass}} place-image people-image" data-lazy-img alt="{{id}}" data-src="https://media.guim.co.uk/cffcee2ab6f7219e1c838cbcdf39db39158adc75/0_678_7558_4536/2000.jpg" src="" height="600" width="900" />
    <div class="section-header--title">
      <div class="gs-container">
        <div class="content__main-column">
          <h1>People</h1>
          <p>Names to watch out for - from the up and coming to the influential</p>
        </div>
      </div>
    </div>
    <div class="section-strap-line">
      <div class="strapline-wrapper">
        <div class="content__main-column">
          <span class="strapline">{{strapline}}</span>
        </div>
      </div>
    </div>
    <div class="section-header--button">
      <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
        <g fill="none" fill-rule="evenodd">
          <circle cx="22" cy="22" r="22" fill="#FFABDB"/>
          <polygon fill="#000" fill-rule="nonzero" points="20.909 23.091 12 22.682 12 21.295 20.909 20.909 21.295 12 22.682 12 23.091 20.909 32 21.295 32 22.682 23.091 23.091 22.682 32 21.295 32"/>
        </g>
      </svg>
      <p class="button">Read more</p>
    </div>
  </div> -->
  <div class="section copy people">
  {{#People}}
      <div class="content__main-column">
      {{#image}}
        <div class="body-image">
          <img id="{{id}}" src="{{{image}}}">
        </div>
      {{/image}}
      <h1 class="heading"><div class="text">{{{headline}}}</div></h1>

      {{#imageCaption}}
        <div class="caption">
          <p class="caption-text">
            <!-- <svg width="11" height="10" viewBox="0 0 11 10"><path fill-rule="evenodd" d="M5.5 0L11 10H0z"/></svg> -->
           {{imageCaption}}
          </p>
        </div>
      {{/imageCaption}}
      <pre class="copy">{{{description}}}</pre><div class="credit">{{{credit}}}</div>
      </div>
      <div class="ad--wrapper--desktop">
        <div id="{{adID}}" class="js-ad-slot ad-slot ad-slot--mpu-banner-ad ad-slot--right" data-link-name="ad slot {{adDataName}}" data-test-id="{{adTestId}}" data-name="{{adName}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
      </div>
      <div class="ad--wrapper--mobile" {{#adIDMobile}} style="padding:20px 0px;" {{/adIDMobile}}>
        {{#adIDMobile}}
        <div id="{{adIDMobile}}" class="js-ad-slot ad-slot ad-slot--inline {{adTestIdMobile}}" data-link-name="ad slot {{adDataNameMobile}}" data-test-id="{{adTestIdMobile}}" data-name="{{adNameMobile}}" data-mobile="1,1|2,2|300,250|fluid" data-desktop="1,1|2,2|300,250|fluid"></div>
        {{/adIDMobile}}
      </div>
  {{/People}}
</div>
